.content {
    display: flex;
}
.lists {
    background: rgb(54, 32, 54);
    width: 200px;
    height: 870px;
}
.ADD_A_BOOK {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 120px;
   border: 2px solid black;
}
.button_ADD_A_BOOK {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background: rgb(255, 102, 0)
}
.button_name {
    color: white;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.plus {
    color: white;
    margin-right: 10px;
    font-size: 30px;
}

.menu {
  height: 200px;
  
}
.menu_link {
    color: rgb(158, 150, 150);
    text-decoration: none;
    display: block;
    margin-left: 20px;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.menu_link:hover {
    background: rgb(0, 110, 255);
    height: 40px;
}
.menu_img {
    margin-right: 10px;
    margin-top: 15px;
}

.instructions {
    height: 170px;
    border: 2px solid rgb(36, 25, 36);
}
.instructions_ul {
    margin-top: 30px;
}
.instructions_list {
    margin-top: 15px;
    color: rgb(158, 150, 150);
    text-decoration: none;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.results {
    margin-top: 10px;
    
}
.result_books {
    color: rgb(100, 96, 96);
}
.result_link {
    color: rgb(158, 150, 150);
    text-decoration: none;
    font-size: 13px;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.result_time {
    color: rgb(100, 96, 96);
}

.result_image {
    height: 15px;
    margin-top: 18px;
}
.result_flex {
    display: flex;
    margin-left: 20px;
    margin-right: 5px;
    
}
.result_time {
    margin-left: 30px;
    margin-top: 10px;
}


.Browse_Available_Books {
  display: flex;
  width: 100%;
  
}
.browse_books {
    width: 100%;
    height: 130px;
    background: rgb(250, 240, 240);
}
.head {
    margin-left: 25px;
    color: rgb(99, 63, 99);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.stripe {
    background: rgb(250, 240, 240);
}
.book_selection {
    display: flex;
    height: 40px;
    align-items: center;
}
.working_with_books {
    text-decoration: none;
    margin-left: 25px;
    color: rgb(51, 117, 161);
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.working_with_books:hover {
    background: rgb(167, 161, 161);
    color: white;
    height: 25px;
    width: 90px;
    border-radius: 10px;
}
.keywords {
   display: flex;
   align-items: center;
}
.enter {
    display: flex;
    justify-content: space-between;
   
}
.input_books {
    height: 20px;
    width:350px;
    border-radius: 10px;
    border: 2px solid white;
}




.books {
    display: flex;
    align-items: center;
    height:65vh;
    
}
.book_selection {
   display: flex;
   align-items:center;
}
.block_book {
    display: block;
}
.the_first_row_of_books {
  display: flex;
 margin-top: 100px;
}
.the_second_row_of_books {
  display: flex;
 
}



.img_book {
    width: 210px;
    height: 250px; 
    
}
.img_article {
  margin-left: 120px;
  margin-top: 25px;
}

.img_zvezda:hover {
    background: gold;
}


.main {
   display: block;
   width: 100%;
}

.heading_img{
    margin-top: 10px;
    font-size: 17px;
}
.author {
    font-size: 13px;
}

